<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Department Details</title>
    <style>
        body{
            background-image: url('static/images/bge.jpg');
        }
        .nav {
            margin: 0px;
            padding: 40px;
            background-color: rgb(0, 119, 255);

        }

        .sep {
            margin: 100px;
            padding: 50px;
            color: rgb(196, 190, 11);
            font-size: 50px;

        }
        h1{
            margin: 0px;
            color: #fff;
        }
    </style>
</head>
<body>

    <nav class="nav">

        <a class="sep" href="{% url 'employee_list' %}">Employees</a>
        <a class="sep" href="{% url 'department_list' %}">Departments</a>
        <a class="sep" href="{% url 'salary_list' %}">Salaries</a>

    </nav>

  <h2>{{ department.name }} Details</h2>
  <p>Floor: {{ department.floor }}</p>
  <p>Manager: {{ department.manager }}</p>
  <h3>Employee Hierarchy</h3>
  <ul>
    {% for employee in department.employees.all %}
      <li>{{ employee.name }} - {{ employee.designation }}</li>
    {% endfor %}
  </ul>

</body>
</html>