<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salary Details</title>
    <style>
        body{
            background-image: url('static/images/bge.jpg');
        }
        .nav {
            margin: 0px;
            padding: 40px;
            background-color: rgb(0, 119, 255);

        }

        .sep {
            margin: 100px;
            padding: 50px;
            color: rgb(196, 190, 11);
            font-size: 50px;

        }
        h1{
            margin: 0px;
            color: #fff;
        }
    </style>
</head>
<body>

    <nav class="nav">

        <a class="sep" href="{% url 'employee_list' %}">Employees</a>
        <a class="sep" href="{% url 'department_list' %}">Departments</a>
        <a class="sep" href="{% url 'salary_list' %}">Salaries</a>

    </nav>

  <h2>{{ salary.employee.name }} Salary Details</h2>
  <p>Salary: {{ salary.salary }}</p>
  <p>Start Date: {{ salary.start_date }}</p>
  <p>End Date: {{ salary.end_date }}</p>

</body>
</html>